html, body, #container, #content, #canvas {
    margin: 0;
    height: 100%;
    width: 100%;

    -webkit-user-select: none;
    -moz-user-select: none;

    background: #000;

    overflow: hidden;
}

#title {
    margin: 24px;
    margin-left: 0;
    font: 24px/24px futura-pt, Arial, Helvetica, sans-serif;
    font-weight: 300;
    letter-spacing: .24em;
    z-index: 2;
}

#title .three {
    padding-left: 24px;
    background-color: white;
}

#title .text {
    background-color: white;
    margin-left: 28px;
     transition-property:        margin-left;
     transition-duration:        1s;
    -moz-transition-property:    margin-left;
    -moz-transition-duration:    1s;
    -webkit-transition-property: margin-left;
    -webkit-transition-duration: 1s;
    -o-transition-property:      margin-left;
    -o-transition-duration:      1s;
    white-space: nowrap;
}

#info {
  position: absolute;
  bottom: 0;
  width: 1680px;
  color: white;
  font: 24px/24px futura-pt, Arial, Helvetica, sans-serif;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  padding: 20px 13%;
  text-shadow: 1px 0px 1px black;
}

#info div {
  float: left;
  width: 25%;
  text-align: center;
  position: relative;
  margin-top: 20px;
}

#info p {
  font-size: 16px;
  text-transform: none;
  letter-spacing: 0.12em;
  padding: 0 12px;
}

.typekit-badge {
  display: none !important;
}

.prev, .next {
  font-size: 16px;
  color: white;
  padding: 0 20px 0 10px;
  cursor: pointer;
  outline: none;
  text-shadow: 1px 0px 1px black;
}
.prev:hover, .next:hover {
  color: #bbb;
}
.prev:active, .next:active {
  color: #555;
}

.loading {
  color: white;
  font-size: 100px;
  line-height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 100px;
  margin-left: -200px;
  margin-top: -50px;
  text-align: center;
  vertical-align: center;
}

p.loading {
  font: 24px futura-pt, Arial, Helvetica, sans-serif;
  text-shadow: 1px 0px 1px black;
  white-space: nowrap;
  line-height: 95px;
}

/* BUTTON RESET */
button::-moz-focus-inner {
  border:0;
  padding:0
}
button {
  width:auto;
  border:0 none;
  margin:0;
  padding:0;
  background:transparent;
  overflow:visible;
  /* Stupid IE */
  font:14px arial, sans-serif;
  #vertical-align:middle; /* IE6,IE7 */
}
